<div class="room">
  <div class="messages"></div>
  <div class="new-message-form w-form">
    <form class="form">
      <textarea id="field" name="field" maxlength="5000" placeholder="Digite sua mensagem e pressione &lt;Enter&gt;" autofocus="true" class="msg w-input"></textarea>
      <button type="button" class="send-audio w-button">Enviar<br>Áudio</button>
    </form>
  </div>
</div>
<script>
  let audioPermission = false
  let audioStream
  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(stream => {
      audioPermission = true
      audioStream = stream
    }).catch(e => {
      console.log(e)
      audioStream = null
      audioPermission = false
    })
</script>