<div class="room">
  <div class="messages">
    <div class="message"><span class="author">nome sobrenome</span><br><span class="msg-body">Mensagem aqui</span></div>
  </div>
  <div class="new-message-form w-form">
    <form id="email-form" name="email-form" data-name="Email Form" class="form"><textarea id="field" name="field" maxlength="5000" placeholder="Digite sua mensagem e pressione &lt;Enter&gt;" autofocus="true" class="msg w-input"></textarea><a href="#" class="send-audio w-button">Enviar<br>Áudio</a></form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
</div>