<div class="rooms">
  <h1 class="title-rooms">Salas Disponíveis</h1>
  <ul class="room-list w-list-unstyled">
    <li class="room-item">Sala 1</li>
    <li class="room-item">Sala 2</li>
    <li class="room-item">Sala 3 <span class="notifications">(2)</span></li>
  </ul>
  <div href="" class="add-room" >+</div>
</div>