<% include partials/header %>

<div class="container w-container">
  <!-- menu lateral -->
  <% include partials/sidebar %>

  <!-- corpo do chat -->
  <% include partials/msgfield %>
</div>

<% include partials/footer %>
